body {
  font-family: 'Roboto', sans-serif;

  a {
    display: block;
    text-decoration: none;
  }
}

html, body {
  height: 100%;
  font-size: $fontSize;


  @include tablets {
    font-size: $fontSize - 1px;
  }

  @include phones {
    font-size: $fontSize - 2px;
  }
}

html {
  scroll-behavior: smooth;
}

main {
  height: calc(100%);
  min-height: calc(100vh - 3vh); //3vh
}
