.precept {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 12px;
  background: #000000;

  color: #FFFFFF;
  mix-blend-mode: normal;
}
